@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body{
    background-color: #c9d6ff;
    background: linear-gradient(to right, #e2e2e2, #c9d6ff);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 300vh;
}

.container{
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 90%;
}

.container p{
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.3px;
    margin: 20px 0;
}

.container span{
    font-size: 12px;
}

.container a{
    color: #333;
    font-size: 13px;
    text-decoration: none;
    margin: 15px 0 10px;

}

.container button{
    background-color: #512da8;
    color: #fff;
    font-size: 12px;
    padding: 10px 45px;
    border: 1px solid transparent;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-top: 10px;
    cursor: pointer;
}

.container button.hidden{
    background-color: transparent;
    border-color: #fff;
}

.container form{
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    height: 100%;
    overflow: auto;
}

.container input{
    background-color: #eee;
    border: none;
    margin: 8px 0;
    padding: 10px 15px;
    font-size: 13px;
    border-radius: 8px;
    width: 100%;
    outline: none;
}

.form-container{
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
}

.sign-in{
    left: 0;
    width: 50%;
    z-index: 2;
}

#projectBrief {
    min-height: 40px; /* Set minimum height */
    resize: none; /* Prevent resizing */
    background-color: #eee;
    border: none;
    margin: 8px 0;
    padding: 10px 15px;
    font-size: 13px;
    border-radius: 8px;
    width: 100%;
    outline: none;

}

.container.active .sign-in{
    transform: translateX(100%);
}

.sign-up{
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
}

#register {
    background-color: var(--clr);
    /* border: 2px solid #000; */
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Hover effect */
#register:hover {
    background-color: #FABB03;
    color: #000;
}


.container.active .sign-up{
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    animation: move 0.6s;
}

@keyframes move{
    0%, 49.99%{
        opacity: 0;
        z-index: 1;
    }
    50%, 100%{
        opacity: 1;
        z-index: 5;
    }
}



.toggle-container{
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: all 0.6s ease-in-out;
    border-radius: 150px 0 0 100px;
    z-index: 1000;
}

.container.active .toggle-container{
    transform: translateX(-100%);
    border-radius: 0 150px 100px 0;
}

.toggle{
    background-color: #13082B;
    height: 100%;
    background: linear-gradient(to right, #28184e, #13082B);
    color: #fff;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
}

.container.active .toggle{
    transform: translateX(50%);
}

.toggle-panel{
    position: absolute;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 30px;
    text-align: center;
    top: 0;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
}

.toggle-left{
    transform: translateX(-200%);
}

.container.active .toggle-left{
    transform: translateX(0);
}

.toggle-right{
    right: 0;
    transform: translateX(0);
}

.container.active .toggle-right{
    transform: translateX(200%);
}

#nirmanlogo {
    padding-bottom: 10%;
    margin-bottom: 0%;
    height: 150px;
    width: 300px;
    margin-top: -70%;
}



.button {
    line-height: 1;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    gap: .75rem;
    background-color: var(--clr);
    color: #fff;
    border-radius: 10rem;
    font-weight: 700;
    padding: .75rem 1.5rem;
    padding-left: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: background-color .3s;
    
  }
  
  .button__icon-wrapper {
    flex-shrink: 0;
    width: 25px;
    height: 25px;
    position: relative;
    color: var(--clr);
    background-color: #fff;
    border-radius: 50%;
    display: grid;
    place-items: center;
    overflow: hidden;
  }
  
  .button:hover {
    background-color: #FABB03;
  }
  
  .button:hover .button__icon-wrapper {
    color: #000;
  }
  
  .button__icon-svg--copy {
    position: absolute;
    transform: translate(-150%, 150%);
  }
  
  .button:hover .button__icon-svg:first-child {
    transition: transform .3s ease-in-out;
    transform: translate(150%, -150%);
  }
  
  .button:hover .button__icon-svg--copy {
    transition: transform .3s ease-in-out .1s;
    transform: translate(0);
  }






  /*aisdunasodnjas*/
  .button {
    display: flex;
  }
  
  .box {
    width: 35px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-weight: 700;
    color: #fff;
    transition: all .8s;
    cursor: pointer;
    position: relative;
    background: rgb(58, 165, 253);
    overflow: hidden;
  }
  
  .box:before {
    content: "!";
    position: absolute;
    top: 0;
    background: #0f0f0f;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(100%);
    transition: transform .4s;
  }
  
  .box:nth-child(2)::before {
    transform: translateY(-100%);
    content: '2';
  }
  
  .box:nth-child(3)::before {
    content: '0';
  }
  
  .box:nth-child(4)::before {
    transform: translateY(-100%);
    content: '2';
  }
  
  .box:nth-child(5)::before {
    content: '4';
  }

  .box:nth-child(6)::before {
    content: '!';
  }
  
  .button:hover .box:before {
    transform: translateY(0);
  }








  
  .gdsclogo{
    max-width: 100%;
    max-height: 100%;
    margin-top: -40%;
    margin-left: 10px;
    margin-right: 10px;
  }


  #nirman_slogan{
    font-size: 20px;
    color: #fff;
    font-weight: 800;
    align-self: end;
    font-style: italic;
    margin-top: 0px;

    
  }

  .ami_logo{
    padding-top: 0%;
    margin-top:0%;
    height: 100px;
    width: 270px;
  }

  
  #hackinglylogo{
    padding-top: 0%;
    margin-top: -80%;
    height: 220px;
    width: 300px;
    margin-bottom: 10%;
  }


  #aset_presents{
    color: #fff;
    font-weight: 800;
    align-self: flex-end;
    margin-bottom: 50%;
    font-style: italic;
    padding-bottom: 100px;
    
  }
  #aset_pre{
    color: #fff;
    font-weight: 800;
    align-self: flex-end;
    margin-bottom: 50%;
    font-style: italic;
    padding-bottom: 100px;
    margin-top: -18%;

    
  }


  #nirmanlogo{
    padding-bottom: 10%;
    margin-bottom: 0%;
    height: 150px;
    width: 300px;
    margin-top: -70%;


} 



.domain_select{
    height: 40px;
    width: 300px;
    background-color: #e1e0e0;
    border-radius: 5px;
    border: none;
    font-size: small;
}


.hint{
    align-self: flex-start;
  }




@media screen and (max-width:600px) and (min-width:200px) {
  .gdsclogo{
    max-width: 130%;
    max-height: 100%;
    margin-top: -40%;
    margin-left: 10px;
    margin-right: 10px;
  }
  img{
    padding: 20%;
  }
  .title{
      font-size: 27px;
  }
  body{
      font-size: 14px;
  }

  #nirman_slogan{
    font-size: 20px;
    color: #fff;
    font-weight: 800;
    align-self: end;
    font-style: italic;
    margin-top: 0px;

    
  }

  .ami_logo{
    padding-top: 0%;
    margin-top:0%;
    height: 100px;
    width: 220px;
  }

  
  #hackinglylogo{
    padding-top: 0%;
    margin-top: -110%;
    height: 220px;
    width: 230px;
    margin-bottom: 10%;
  }


  #aset_presents{
    color: #fff;
    font-weight: 800;
    align-self: flex-end;
    margin-bottom: 50%;
    font-style: italic;
    padding-bottom: 100px;
    
  }
  #aset_pre{
    color: #fff;
    font-weight: 800;
    align-self: flex-end;
    margin-bottom: 50%;
    font-style: italic;
    padding-bottom: 100px;
    margin-top: -18%;

    
  }


  #nirmanlogo{
    padding-bottom: 10%;
    margin-bottom: 0%;
    height: 10%;
    width: 100%;
    margin-top: -70%;


} 



.domain_select{
    height: 40px;
    width: 180px;
    background-color: #e1e0e0;
    border-radius: 5px;
    border: none;
    font-size: small;
}


.hint{
    align-self: flex-start;
    font-size: smaller;
  }


  
}


